<a href="https://colab.research.google.com/github/wellingtonsouza32/ChallengeAlura/blob/main/challenge_semana_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**ALURA VOZ**

- Solicitação da área de Vendas da Empresa
  - Reduzir taxa de Evasão de Clientes (Churn Rate)

- Sugestão
  - Identificar Cliente que tenham maior chance de deixar a empresa
  - Investigar caracteristicas de clientes
  - Investigar planos de Clientes
  - Classificar as pessoas "Deixará a empresa" ou "Não Deixará a empresa"

- Plano de Ação
  - Trabalhar conjunto de dados (explorar, tratar e modelar)
  - Otimizar cada modelo
  - O Modelos deve apoiar na toma de decisão
  - Publicar os avanços no GitHub

#Dicionário de dados
- customerID: número de identificação único de cada cliente
- Churn: se o cliente deixou ou não a empresa
- gender: gênero (masculino e feminino)
- SeniorCitizen: informação sobre um cliente ter ou não idade igual ou maior que 65 anos
- Partner: se o cliente possui ou não um parceiro ou parceira
- Dependents: se o cliente possui ou não dependentes
- tenure: meses de contrato do cliente
- PhoneService: assinatura de serviço telefônico
- MultipleLines: assisnatura de mais de uma linha de telefone
- InternetService: assinatura de um provedor internet
- OnlineSecurity: assinatura adicional de segurança online
- OnlineBackup: assinatura adicional de backup online
- DeviceProtection: assinatura adicional de proteção no dispositivo
- TechSupport: assinatura adicional de suporte técnico, menos tempo de espera
- StreamingTV: assinatura de TV a cabo
- StreamingMovies: assinatura de streaming de filmes
- Contract: tipo de contrato
- PaperlessBilling: se o cliente prefere receber online a fatura
- PaymentMethod: forma de pagamento
- Charges.Monthly: total de todos os serviços do cliente por mês
- Charges.Total: total gasto pelo cliente

In [1]:
import pandas as pd

In [11]:
#importando o Json com o dataset proposto
dados = pd.read_json(
    path_or_buf='/content/drive/MyDrive/challenge_semana1/challenge_1.json',
    orient = 'columns'
)
dados.head(5)

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [22]:
#tratando a coluna customer para torná-la um dataframe
dados_customer = pd.json_normalize(data=dados.customer)
dados_customer.head(5)

pandas.core.frame.DataFrame

In [18]:
#tratando a coluna Phone para torná-la um dataframe
dados_phone = pd.json_normalize(data=dados.phone)
dados_phone.head(5)

  PhoneService MultipleLines
0          Yes            No
1          Yes           Yes
2          Yes            No
3          Yes            No
4          Yes            No

In [19]:
#tratando a coluna Internet para torná-la um dataframe
dados_internet = pd.json_normalize(data=dados.internet)
dados_internet.head(5)

,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,DSL,No,Yes,No,Yes,Yes,No
1,DSL,No,No,No,No,No,Yes
2,Fiber optic,No,No,Yes,No,No,No
3,Fiber optic,No,Yes,Yes,No,Yes,Yes
4,Fiber optic,No,No,No,Yes,Yes,No

In [23]:
#tratando a coluna Account para torná-la um dataframe
dados_account = pd.json_normalize(data=dados.account)
dados_account.head(5)

,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,One year,Yes,Mailed check,65.6,593.3
1,Month-to-month,No,Mailed check,59.9,542.4
2,Month-to-month,Yes,Electronic check,73.9,280.85
3,Month-to-month,Yes,Electronic check,98.0,1237.85
4,Month-to-month,Yes,Mailed check,83.9,267.4

In [29]:
df_aluravoz = pd.concat([dados.customerID, dados.Churn,dados_customer,dados_phone,dados_internet,dados_account], axis=1)
df_aluravoz

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

In [30]:
#Analisando as colunas para tradução e melhor entendimento
df_aluravoz.columns

Index(['customerID', 'Churn', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'Charges.Monthly',
       'Charges.Total'],
      dtype='object')

In [31]:
#Tradução das colunas para compreensão mais clara
df_aluravoz.rename(columns={'customerID': 'Codigo_Cliente',
'Churn': 'Evasao',
'gender': 'Genero',
'SeniorCitizen': 'Idoso',
'Partner': 'Possui_Parceiro',
'Dependents': 'Possui_Dependentes',
'tenure': 'Meses_Contrato',
'PhoneService': 'Assinatura_Telefonica',
'MultipleLines': 'Multiplas_Linhas',
'InternetService': 'Assinatura_Internet',
'OnlineSecurity': 'Assinatura_Segurança',
'OnlineBackup': 'Assinatura_Backup_Online',
'DeviceProtection': 'Assinatura_Protecao_Dispositivo',
'TechSupport': 'Assinatura_Suporte_Tecnico',
'StreamingTV': 'Assinatura_Tv_Cabo',
'StreamingMovies': 'Streaming_Filmes',
'Contract': 'Tipo_Contrato',
'PaperlessBilling': 'Fatura_Online',
'PaymentMethod': 'Forma_Pagamento',
'Charges.Monthly': 'Total_Servicos_Mensal',
'Charges.Total': 'Total_Gasto_Cliente'}, inplace = True)

In [35]:
#Avaliando se existe algum dado nulo nas colunas
df_aluravoz.isnull().sum()

Codigo_Cliente                     0
Evasao                             0
Genero                             0
Idoso                              0
Possui_Parceiro                    0
Possui_Dependentes                 0
Meses_Contrato                     0
Assinatura_Telefonica              0
Multiplas_Linhas                   0
Assinatura_Internet                0
Assinatura_Segurança               0
Assinatura_Backup_Online           0
Assinatura_Protecao_Dispositivo    0
Assinatura_Suporte_Tecnico         0
Assinatura_Tv_Cabo                 0
Streaming_Filmes                   0
Tipo_Contrato                      0
Fatura_Online                      0
Forma_Pagamento                    0
Total_Servicos_Mensal              0
Total_Gasto_Cliente                0
dtype: int64

In [41]:
evasao = df_aluravoz.Evasao == True

[0       False
 1       False
 2       False
 3       False
 4       False
         ...
 7262    False
 7263    False
 7264    False
 7265    False
 7266    False
 Name: Evasao, Length: 7267, dtype: bool]